.formulario{
	.form-group{
		input, select{
			&.form-control{
				height: 45px;
				margin-bottom: 10px;
				font-family: $font-family-sans-serif;
			}
			&:focus {
    			border-color: $brand-primary;
    		}
		}
		.checkbox label{
			font-style: italic;
			font-size: 14px;
			color:$brand-grey-dark;
			text-shadow: none;
			text-align: left;
		}
	}
}